@font-face{

	font-family: 'DrukWideMedium';
	
	src: url('../fonts/DrukWideMedium.otf');
	
	
	font-weight: normal;
	
	font-style: normal;
	
	}



body{
	
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 16px;
	background: #1F2326;
	font-weight: 300;
	zoom: 50%;
	
}


* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 400;
	
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}


.ellipse__big {
	position: fixed;
	background: url(../img/Ellipse\ 40.png) no-repeat left top;
	background-size: 70% auto;
	width: 70%;
	height: 100%;
		}

.ellipse__mini{
	position: fixed;
	background: #FF4656;
	height: 44px;
	width: 44px;
	left: 90%;
	top: 5%;
	border-radius: 50%;
}

.ellipse__grey{
	background: #EFEFEF;
	position: fixed;
	width: 268px;
	height: 269px;
	top: 12%;
	left: 85%;
	border-radius: 50%;
	
}

.ellipse__darkgrey{
	position: fixed;
	height: 98px;
	width: 98px;
	border-radius: 50%;
	background: #505155;
	top: 28%;
	left: 93%;
}

.ellipse__smallgrey{
	position: fixed;
	width: 63px;
	height: 63px;
	border-radius: 50%;
	top: 85%;
	left: 4%;
	background: #505155;

}

.ellipse__newgrey{
	background: url(../img/Ellipse\ 41.png) no-repeat bottom;
	position: fixed;
	width: 470px;
	height: 470px;
	top: 79%;
	left: 5%;
}
.ellipse__biggrey {
	position: fixed;
	background: url(../img/Ellipse\ 43.png) no-repeat right bottom;
	margin-left: 70%;
	background-size: 100% auto;
	width: 30%;
	height: 100%;
}

.background {
	display: flex;
	
}

.container {
	


	margin: 0 auto; 
	max-width: 2660px;
	/* padding: 0 150px; */
	
}



.header{
	position: absolute;
	width: 2660px;
	height: 132px;
	background: #1F2326;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	display: flex;

}

.main{
	position: absolute;
	width: 2660px;
	height: 1499px;
	top: 130px;
	background: #FF4656 url(../img/background.png) no-repeat;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.footer{
	position: absolute;
	width: 2660px;
	height: 130px;
	top: 1585px;
	background: #F8F8F8;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	
}

.shadow{
	
	position: absolute;
	border-radius: 40px;	
	margin-top: 2%;
	width: 2660px;
	height: 1715px;	

	-webkit-box-shadow: 0px 0px 23px 6px rgba(0, 0, 0, 0.55);
	-moz-box-shadow:    0px 0px 23px 6px rgba(0, 0, 0, 0.55);
	box-shadow:         0px 0px 23px 6px rgba(0, 0, 0, 0.55);
	
}

.nav{
	height: 132px;
	display: flex;
	text-align: center;
	align-items: center;
	
}
ul li{
	margin-right: 75px;
	display: block;
}

li a, a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 17.07px;
}

.profile img{
	border-radius: 50%;
	height: 42px;
	width: 42px;
	margin-right: 20px;
}
.profile {
	margin-right: 80px;
	margin-left: auto;
	display: flex;
	align-items: center;
}

.logo {
	background: url(../img/riot\ games.png) no-repeat ;
	height: 40px;
	width: 100px;
	margin-left: 70px;
	margin-right: 30px;
	
}


.slash {
	height: 42px;
	width: 3px;
	background: #fff;
	margin-right: 50px;
}

.logo2{
	background: url(../img/logo.png) no-repeat;
	height: 40px;
	width: 80px;
}

.left{
	display: flex;
	align-items: center;
	height: 130px;
	width: 450px;
	
}

.text h1{
	font-family: 'DrukWideMedium';
	font-weight: 500;
	text-transform: uppercase;
	font-size: 156px;
	line-height: 204px;
	letter-spacing: 0.1em;
	color: black;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.text{
	transform: rotate(90deg);
	margin-top: -220px;
	margin-left: -220px;
}


.card__main{
	display: flex;
	align-items: start;
	margin-right: -65px;

}

.cards{
	display: flex;
	margin-left: -550px;
	margin-top: -230px;
}

.card h4{
	color: #FF4656;
	font-family: 'DrukWideMedium';
	font-weight: 500;
	font-size: 27px;
	line-height: 31px;
	letter-spacing: 0.1em;
	transform: rotate(90deg);
	margin-top: 426px;
	margin-left: -300px;
} 

.card{
	background:  #1F2326 ;
	width: 27.5em;
	height: 61em;
  	clip-path: polygon(0 2%, 4% 0, 100% 0, 100% 100%, 0% 100%);
	border: 3px solid #1F2326;
	margin-left: -280px;
	z-index: 1;
}

.skills{
	margin-left: -410px;
	margin-top: 910px;
	width: 440px;
	height: 110px;
	background:  #1F2326;
	border: 2px solid #F8F8F8;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}


.vect{ 
	width: 70px;
	height: 70px;

}

.v1{
	margin-left: 30px;
	background: url(../img/vector/Vector1.png) no-repeat;
}
.v2 {
	margin-left: -20px;
	background: url(../img/vector/Vector2.png) no-repeat;
}
.v3 {
	margin-top: 20px;
	margin-left: -30px;
	background: url(../img/vector/Vector3.png) no-repeat;
}
.v4 {
	margin-right: 20px;
	margin-top: 25px;
	background: url(../img/vector/Vector4.png) no-repeat;
}




.v13{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	background: url(../img/vector/Vector13.png) no-repeat;
}
.v14 {
	margin-left: -40px;
	margin-top: 30px;
	background: url(../img/vector/Vector14.png) no-repeat;
}
.v15 {
	margin-top: 20px;
	margin-left: 10px;
	background: url(../img/vector/Vector15.png) no-repeat;
}
.v16 {
	margin-right: 20px;
	margin-top: 25px;
	background: url(../img/vector/Vector16.png) no-repeat;
}


.card__1{
	background:  #1F2326 url(../img/Art1.png)  no-repeat;
}
.card__2{
	background:  #1F2326 url(../img/Art2.png)  no-repeat;
}
.card__3{
	background:  #1F2326 url(../img/Art3.png)  no-repeat;
}
.card__4{
	background:  #fff url(../img/Art4.png)  no-repeat;
}
.text__main {
	font-family: 'DrukWideMedium';
	font-weight: 500;
	text-transform: uppercase;
	font-size: 52px;
	line-height: 94px;
	letter-spacing: 0.1em;
	color: black;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
	transform: rotate(90deg);
	margin-top: 300px;
	z-index: 2;
}

.posit{
	margin-top: 180px;
	margin-right: 115px;
}

.posit2{
	margin-top: 195px;
	margin-right: 100px;
}

.text__main__white {
	font-family: 'DrukWideMedium';
	font-weight: 500;
	text-transform: uppercase;
	font-size: 52px;
	line-height: 94px;
	letter-spacing: 0.1em;
	color: black;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
	transform: rotate(90deg);
	z-index: 2;
}

.white{
	background: white;
	border: 2px solid #1F2326;
	margin-right: 10px;
}

.descr{
	display: flex;
	margin-top: -200px;
	margin-left: -50px;
}

.descr__first{
	display: flex;
	background: url(../img/stroke.png) no-repeat;
	height: 248px;
	width: 724px;
	margin-right: 70px;
}

.descr__text{
	margin-left: 50px;
	margin-top: 25px;
}

.descr__text h3{
	color: #C4C4C4;
	font-family: 'DrukWideMedium';
	font-weight: 500;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 52px;
	
}
.descr__text h4{
	margin-top: 25px;
	color: #000;
	font-family: 'DrukWideMedium';
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
	
}
.descr__text p{
	margin-top: 25px;
	color: #1F2326;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	width: 315px;
	letter-spacing: 0.1em;
	
}

.descr__box {
	background: #FF4656;
	width: 190px;
	height: 182px;
	margin-top: auto;
	margin-left: 40px;
	margin-bottom: 2px;
}
.descr__logo {
	width: 167px;
	height: 167px;
	margin-left: -125px;
	margin-top: 35px;
}
.d1 {
	background: url(../img/icon1.png) no-repeat;
}
.d2 {
	background: url(../img/icon2.png) no-repeat;
	margin-top: 25px;
}
.d3 {
	background: url(../img/icon3.png) no-repeat;
	width: 179px;
}

.descr__last{
	background: url(../img/stroke2.png) no-repeat;
	width: 219px;
	height: 248px;
	margin-left: 45px;
	display: flex;
	align-items: center;
	
}

.descr__last img{
	height: 20px;
	width: 15px;
	margin: 0 auto;
}


@media screen and (max-width: 2900px) {
	body{
		zoom: 80%;
	   }

	   .container{
		   width: 90%;
		   margin: 0 auto;
		   
	  }
	  
/*	.container {
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
		margin-left: 0;
				
	}	
 		.header {
		width: 100%;
		
	}
	.shadow {
		width: 90%;
	}
	.main {
		width: 100%;
		
	}
	.footer {
		width: 100%;
	}
	.cards {
		width: 100%;
	}
	.card__main {
		
	} */


}


@media screen and (max-width: 2499px) {
	body{
		zoom: 70%;
	   }
}

@media screen and (max-width: 1999px) {
	body{
		zoom: 50%;
	   }
}

@media screen and (max-width: 1441px) {
	body{
		zoom: 40%;
	   }
}

@media screen and (max-width: 991px) {
	
	
}

@media screen and (max-width: 767px) {


}

@media screen and (max-width: 575px) {
	
}


.placeb {
	width: 80%;
	height: 300px;
}
